{% extends 'base.html' %} {% block title-head %} news {% endblock %} {% block content %}
<div class="container">
    {% for news in latest_news %}
    <div class="card mt-5">
        <div class="card-body">
            <h5 class="card-title">{{news.title}}</h5>
            <p>Published date: {{news.pub_date}}</p>
            <p class="card-text">{{news.news_content}}</p>
            <a href="#" class="btn btn-primary">read full news</a>
            <cite class="ml-5"><a href="{% url 'news:author_profile' news.author.id %}" >Written By: {{news.author}}</a></cite>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}