{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'news/style.css'%}">
    <title>{% block title-head %}{% endblock  %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse d-inline-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item mx-5">
                    <a class="nav-link navbtn" href="{% url 'base' %}">Home</a>
                </li>
                <li class="nav-item mx-5">
                    <a class="nav-link navbtn" href="{% url 'news:index' %}">Blog</a>
                </li>
                <li class="nav-item mx-5">
                    <a class="nav-link navbtn" href="{% url 'news:author_detail' %}">Author</a>
                </li>

            </ul>
        </div>
    </nav>
    <main>
        {% block content %}
        {% endblock  %}
    </main>
    <footer>
        <div class="footerdiv mt-4" id="contact">
            <i class="material-icons mail m-5">mail_outline</i>
        </div>
    </footer>

</body>

</html>